@import '../../../styles/variables';

.site-management-policy {
  margin-top: 130px;
  padding: 0 24px;
  height: fit-content;
  background-color: $scm-light-off-white;

  h2,
  h4,
  p,
  ul li {
    font-family: $scm-font-helvetica-neue;
  }

  .header,
  .section {
    padding: 24px 12px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      background-color: $scm-grey--light;
    }
  }

  .section {
    border-top: 1px solid $scm-grey--light;

    .content,
    .content__list__item {
      font-size: 14px;
    }

    &:first-of-type {
      border-top: 0 none;
    }

    &:last-of-type {
      border-bottom: 0 none;

      .content {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 608px) {
  margin-top: 200px;

  .section {
    margin-left: 0;
    margin-right: 0;
  }
}
