<div class="site-management-policy">

  <!-- title -->
  <div class="header">
    <h2>SCM Law</h2>
    <h2>Site Management Policy</h2>
  </div>

  <!-- content -->

  <!-- 1. scope -->
  <div class="section">
    <h4>Scope of this policy</h4>
    <p class="content">This policy covers this website: <a routerLink="/">www.scmlaw.co.uk</a></p>
  </div>

  <!-- 2. responsibility -->
  <div class="section">
    <h4>Responsibility</h4>
    <p class="content">Robert Chudleigh has responsibility for the management of the website including:</p>
    <ul class="content__list">
      <li class="content__list__item">Ensuring content is up to date;</li>
      <li class="content__list__item">Ensuring content does not infringe copyright;</li>
      <li class="content__list__item">Specifying conditions for downloading material;</li>
      <li class="content__list__item">Ensuring any publicity conforms to the Solicitors Code of Conduct 2011, chapter
        8;</li>
      <li class="content__list__item">Ensuring compliance with the Disability and the Equality Act 2010;</li>
      <li class="content__list__item">Overseeing linking arrangements;</li>
      <li class="content__list__item">Ensuring posting of a privacy notice explaining how any data collected from
        visitors will be managed by the practice.</li>
    </ul>

    <p class="content">Mr Chudleigh may delegate responsibility for inputting and maintaining the website however
      accountability for any content that is shown on the website remains with the partners.</p>
  </div>

  <!-- Copyright and trademark notices -->
  <div class="section">
    <h4>Copyright and trademark notices</h4>
    <p class="content">The contents of this site are protected by copyright under international law. Users are
      permitted to read the contents of our website and make copies of such content for their own personal use. They
      may also give copies to colleagues for their personal use on terms that SCM Law is acknowledged as the source,
      the text is not altered in any way and the attention of the recipients is drawn to this warning. All other use
      and copying of any of the contents of this site is prohibited. Copying from websites of third parties is subject
      to any requirements applicable to those sites.</p>
  </div>

  <!-- Linking to third party websites -->
  <div class="section">
    <h4>Linking to third party websites</h4>
    <p class="content">We are not responsible for the content of third party websites to which we link but we must
      ensure any links are:</p>

    <ul class="content__list">
      <li class="content__list__item">Relevant and appropriate;</li>
      <li class="content__list__item">Pperating effectively, and</li>
      <li class="content__list__item">Where appropriate, reciprocated</li>
    </ul>

    <p class="content">The COLP will oversee all linking arrangements.</p>
  </div>

  <!-- Accessibility -->
  <div class="section">
    <h4>Accessibility</h4>
    <p class="content">We are committed to making our website accessible for all our website visitors, including those
      with disabilities.</p>
    <p class="content">We are committed to providing an accessible web service. If you experience problems or have any
      suggestions for improvement, please contact Mr Robert Chudleigh on 01656 767766.</p>
  </div>

  <!-- Data protection and security -->
  <div class="section">
    <h4>Data protection and security</h4>
    <p class="content">This website is owned and operated by SCM Law who is the data controller for the purposes of the
      General Data Protection Regulation. Our [link to privacy policy] explains how we deal with personal data.</p>
    <p class="content">The security of the website is maintained by password protection which is known only to SCM Law
      and our external website management company.</p>
  </div>

  <!-- Liability -->
  <div class="section">
    <h4>Liability</h4>
    <p class="content">The material displayed on our site is provided without any guarantees, conditions or warranties
      as to its accuracy. The content on our website is deemed to be for general information purposes only and should
      not constitute legal or professional advice. SCM Law accepts no responsibility for any loss which may arise from
      accessing or relying upon information contained in this website.</p>
  </div>

  <!-- Jurisdiction and applicable law -->
  <div class="section">
    <h4>Jurisdiction and applicable law</h4>
    <p class="content">The website will specify that the jurisdiction and applicable law to be invoked as that of
      England and Wales in the event of any dispute arising as a result of content posted on the firm’s website.</p>
  </div>

  <!-- Monitoring and review -->
  <div class="section">
    <h4>Monitoring and review</h4>
    <ul class="content__list">
      <li class="content__list__item">Mr Robert Chudleigh is responsible for this policy.</li>
      <li class="content__list__item">We regularly monitor the effectiveness of this policy to ensure it is working in
        practice and we will review and update this policy as and when necessary.</li>
      <li class="content__list__item">We will review this policy regularly (at least annually). We will provide
        information and/or training on any changes we make.</li>
    </ul>
  </div>

  <!-- Training -->
  <div class="section">
    <h4>Training</h4>
    <p class="content">All staff will receive appropriate training on our Website management policy, including:</p>
    <ul class="content__list">
      <li class="content__list__item">Regular training for existing staff;</li>
      <li class="content__list__item">Training for new staff at induction; and</li>
      <li class="content__list__item">Updates following any changes to the policy that affect staff.</li>
    </ul>
  </div>

  <!-- final statement -->
  <div class="section">
    <p class="content">If you require any further information regarding our site's management policy, please contact
      Robert Chudleigh at <a href="mailto: robert@scmlaw.co.uk">robert@scmlaw.co.uk</a></p>
  </div>
</div>
