    @import '../../../styles/variables';
    .sebm-google-map-container {
        height: 100%;
        width: 100%;
    }
    
    .gm-content {
        display: flex;
        flex-direction: column;
        width: 260px;
        font-family: $scm-font-helvetica-neue;
        margin: 0;
        padding: 0;
        .icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            &--text,
            &--image {
                height: 120px;
                width: 50%;
                align-self: center;
            }
            &--image {
                img {
                    max-width: 100%;
                    max-height: 100%;
                    padding-top: 17px;
                }
            }
        }
    }
    
    .icon--button {
        width: 100%;
        margin-top: 20px;
        font-size: 15px;
        border: none;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: $scm-light-blue;
        height: 40px;
        &:hover {
            background-color: $scm-light-blue-hover;
            cursor: pointer;
        }
    }