<sebm-google-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
    <sebm-google-map-marker *ngFor="let office of offices" [latitude]="office.latitude" [longitude]="office.longitude">
        <sebm-google-map-info-window [disableAutoPan]="true">
            <p>{{ office.address }}</p>
            <p><strong>{{ office.city }}</strong></p>
            <p><strong>{{ office.postcode }}</strong></p>
            <button (click)="navigateToFindUs(office)">More Info</button>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
</sebm-google-map>