<div class="footer">
    <div class="footer--main">
        <ul class="footer--main--icon footer--main--icon--social">
            <li class="facebook">
                <img class="facebook--logo" src="/assets/footer-facebook-logo.png" />
            </li>
            <li class="linkedin">
                <img class="linkedin--logo" src="/assets/footer-linkedin-logo.png" />
            </li>
        </ul>
        <img class="footer--main--icon" src="/assets/scm-logo--small.png" />
        <img class="footer--main--icon" src="/assets/footer-lexcel-logo.png" />
    </div>
    <div class="footer--info">
        <ul class="footer--info--list">
            <li class="footer--info--list--item">This firm is regulated by the Solicitors Regulation Authority</li>
            <li class="footer--info--list--item">Company Registration Number: 6519150</li>
            <li class="footer--info--list--item">SRA Number: 485534</li>
            <li class="footer--info--list--item">VAT Registration Number: 811 2016 92</li>
            <li class="footer--info--list--item">Sedgwick Chudleigh McKenna Solicitors is the trading name of David Sedgwick Solicitors Limited</li>
        </ul>
    </div>
</div>