<div class="services">
    <div *ngFor="let service of services; let i = index;" [ngStyle]="{ 'background-image': service.imageUrl }" class="services--item">
        <div (mouseenter)="showLayer(i)" (mouseleave)="hideLayer(i)" class="layer" [class.layer--clear]="i == selectedRow">
            <!--<p class="">{{ service.title }}</p>-->
            <ul class="services--item--content">
                <li (click)="goToServicesDetail(service.path, service.title, service.description, service.imageUrl, service.crimes)" class="title" [class.title--hover]="i == selectedRow">{{ service.title }}</li>
            </ul>
        </div>
    </div>
</div>