<div class="services">
  <div class="services--intro">
    <h1 class="services--intro__title">Services</h1>
    <hr class="services--intro__hr" />
    <p class="services--intro__description">SCM prides itself on being able to offer a 24-hour service 365 days of the year
      offering immediate expert legal advice and representation. The firm has a contract with the Legal Aid Agency enabling
      us to offer free and independent legal advice at the police station, and representation through to the Magistrates
      Court and Crown Court depending on your income. The firm also represents high net worth individuals throughout all
      stages of the criminal justice process.
      <a (click)="goToNotableCases()">Notable Cases</a>
    </p>
    <br />
    <p class="services--intro__description regular">The firm delivers highly specialised services throughout the spectrum
      of the Criminal Justice System including :-</p>
  </div>
  <div *ngFor="let service of services; let i = index;" [ngStyle]="{ 'background-image': service.imageUrl }" class="services--item">
    <div (mouseenter)="showLayer(i)" (mouseleave)="hideLayer(i)" class="layer" [class.layer--clear]="i == selectedRow">
      <!--<p class="">{{ service.title }}</p>-->
      <ul class="services--item--content">
        <li (click)="goToServicesDetail(service.path, service.title, service.description, service.imageUrl, service.crimes)" class="title"
          [class.title--hover]="i == selectedRow">{{ service.title }}</li>
      </ul>
    </div>
  </div>
</div>
