<div class="services">
    <h2>Services</h2>
    <div class="services__list">
        <button (click)="goToServicesDetail('violent-crime-offences')">Violent Crime Offences</button>
        <button (click)="goToServicesDetail('sexual-offences')">Sexual Offences</button>
        <button (click)="goToServicesDetail('drug-offences')">Drugs Offences</button>
        <button (click)="goToServicesDetail('fraud-offences')">Fraud Offences</button>
        <button (click)="goToServicesDetail('theft-and-dishonesty-offences')">Theft / Dishonesty Offences</button>
        <button (click)="goToServicesDetail('cyber-crime-offences')">Cyber Crime Offences</button>
        <button (click)="goToServicesDetail('regulatory-offences')">Regulatory Offences</button>
        <button (click)="goToServicesDetail('motoring-offences')">Motoring Offences</button>
    </div>
</div>