<div class="header">
    <button (click)="navigateToHome()" class="header--link header--link--option">Home</button>
    <button (click)="navigateToServices()" class="header--link header--link--option">Services</button>
    <img (click)="navigateToHome()" class="header--link header--link--logo" src="/assets/scm-logo--small.png" />
    <button (click)="navigateToTeam()" class="header--link header--link--option">Team</button>
    <button (click)="navigateToContact()" class="header--link header--link--option">Find Us</button>
</div>
<header-contact></header-contact>