<div class="home">

    <!---Jumbotron-->
    <div class="home-jumbotron">
        <div class="layer">
            <div class="home-jumbotron--head">
                <h1>SCM Solicitors</h1>
                <h2>When it comes to the law, you couldn’t be in safer hands.
                </h2>
            </div>
            <div class="underline"></div>
            <button (click)="buttonClicked()" class="home-jumbotron--button">
                What We Do
            </button>
        </div>
    </div>



</div>