@import '../../../styles/variables';

.find-us {
  margin-top: 130px;
  width: 100%;
  height: 1440px;

  &--location {
    display: flex;
    align-content: center;
    flex-direction: row;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &--map {
    height: 480px;
    width: 50%;
    background-position: center;
    background-size: cover;
  }

  &--details {
    height: 480px;
    width: 50%;
    background-color: $scm-blue;
    font-family: $scm-font-helvetica-neue;
    color: white;
    font-weight: 100;

    h1 {
      text-align: center;
      font-weight: 100;
    }

    hr {
      background: $scm-light-blue;
      height: 1px;
      width: 60%;
      border: none;
    }
  }

  &--phone {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  &--locationdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &--opening {
    text-align: center;

    h2 {
      font-size: 25px;
      font-weight: 150;
    }

    p {
      font-size: 19px;
    }
  }

  &--address {
    text-align: center;
    font-size: 20px;

    h2 {
      font-size: 25px;
    }

    p {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 829px) {
  .find-us {
    &--details {
      width: 100%;
      border-bottom: 1px solid $scm-light-blue;
      font-weight: 400;

      h1 {
        font-weight: 400;
      }

      hr {
        background: white;
        width: 40%;
      }
    }

    &--map {
      display: none;
    }
  }
}

@media screen and (max-width: 608px) {
  .find-us {
    height: fit-content;
    margin-top: 200px;

    &--details {
      height: fit-content;

      h1 {
        padding-top: 16px;
        font-size: 26px;
      }
    }

    &--locationdetails {
      height: fit-content;
      flex-direction: column;

      .find-us--address {
        h2 {
          display: none;
        }

        p {
          font-size: 16px;
          line-height: 12px;
        }

        .find-us--phone {
          padding-top: 20px;

          a {
            font-size: 16px;
          }
        }
      }

      .find-us--opening {
        padding-top: 32px;
        padding-bottom: 32px;

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
          line-height: 12px;
        }
      }
    }
  }
}
