<div class="find-us">
    <div *ngFor="let office of offices" class="find-us--location">
        <div class="find-us--image">
            <img />
        </div>
        <div class="find-us--details">
            <h1>{{office.city}}</h1>
            <hr />
            <div class="find-us--locationdetails">
                <div class="find-us--address">
                    <h2>Our office</h2>
                    <p>{{office.address1}}</p>
                    <p>{{office.address2}}</p>
                    <p>{{office.city}}</p>
                    <p>{{office.postcode}}</p>
                    <div class="find-us--phone">
                        <a href="tel:{{office.phone}}"><span style="font-weight: bold">T :</span> {{office.phone}}</a>
                        <a href="tel:07917754134"><span style="font-weight: bold">24hr :</span> 07917 754134</a>
                    </div>
                </div>
                <div class="find-us--opening">
                    <h2>Opening Hours</h2>
                    <p><span style="font-weight:bold">Mon:</span> {{office.openingHours.monday}}</p>
                    <p><span style="font-weight:bold">Tue:</span> {{office.openingHours.tuesday}}</p>
                    <p><span style="font-weight:bold">Wed:</span> {{office.openingHours.wednesday}}</p>
                    <p><span style="font-weight:bold">Thu:</span> {{office.openingHours.thursday}}</p>
                    <p><span style="font-weight:bold">Fri:</span> {{office.openingHours.friday}}</p>
                    <p><span style="font-weight:bold">Sat:</span> {{office.openingHours.saturday}}</p>
                    <p><span style="font-weight:bold">Sun:</span> {{office.openingHours.sunday}}</p>
                </div>
            </div>
        </div>
    </div>